{% extends "photologue:photologue/photo_detail.html" %}
{% load photologue_tags i18n %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="medium-9 columns">
        <img src="{{ object.get_display_url }}" alt="{{ object.title }}">
        <p>
            {{ object.caption|safe }}
            {% if object.caption %}<br>{%endif%}
            <a href="{{ object.image.url }}" target="_blank" >Link to original file</a>
        </p>
        <ul>
        {% for gallery in object.public_galleries %}
            {% if gallery.content.exists %}
            <li><a href="{{ gallery.content.all.0.get_absolute_url }}">{{ gallery.content.all.0.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
