<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Studio CAMP</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/foundation.css" %}"> 
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.bxslider.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"> 
    <link rel="stylesheet" type="text/css" href="{% static "css/app.css" %}"> 
  </head>
  <body>

  
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
    <ul class="vertical-menu">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/projects">PROJECTS</a></li>
        <li><a href="/events">EVENTS</a></li>
        <li><a href="/works">WORKS</a></li>
        <li><a href="/texts">TEXTS</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
        <div class="title-bar-right">
          <button class="menu-icon" type="button" data-toggle="offCanvasRight"></button>
      </div>
    </div>
  </div>
  <form method="get" action='/search/'>
    <input type="search" name="q" class="search-form" value="{{query|default:""}}">
    <input type="submit" style="visibility: hidden;" />
  </form>
  {% block content %}
  {% endblock %}


  {% load static %}
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/foundation.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/what-input.js" %}"></script>
    <script src="{% static "js/jquery.bxslider.js" %}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        slider = $('.slider1').bxSlider({
          adaptiveHeight : true,
          pager : false,
        });

        document.querySelectorAll('.select-image').forEach(function(a) {
            a.onclick = function(event) {
                event.preventDefault();
                slider.goToSlide(this.dataset.id)
            };
        });

        $(document).keydown(function(e){
            if (e.keyCode == 39) // Right arrow 
                {
                    slider && slider.goToNextSlide();
                    return false;
                }
            else if (e.keyCode == 37) // left arrow
                {
                    slider && slider.goToPrevSlide();
                    return false;
               }
            });
        });
    </script>

  </body>
</html>
