{% extends 'base.html' %}

{% block content %}
    <div class="large-8 medium-8 columns special-column">
    <div class="index-text">
    {% if sent %}
    <p>Thanks for getting in touch!</p>
    {% else %}
    <form id="contact" method="post">
        <input id="csrf" type='hidden' name='csrfmiddlewaretoken' value='' />
        {{form}}
        <br>
        <input id="captcha" type="button" value="Send Message">
    </form>
    {% endif %}
    </div>
    </div>
{% endblock %}
{% block end %}
    <script>
        $('#captcha').on({
            click: function() {
                var token = $('input[name="csrfmiddlewaretoken"]')[1].value;
                $('#csrf').val(token)
                $('#contact').submit()
            }
        });
    </script>
    {% csrf_token %}
{% endblock %}
