{% extends 'base.html' %}

{% block content %}
    {% include "edit.html" %}
    <div class="large-8 medium-8 columns special-column">
        {% if content.image_url %}
        <img src="{{ content.image_url }}">
        {% endif %}
        <div class="index-text">
            <h4><a href="{{ content.get_absolute_url }}" class="big-title">{{content.title}}</a></h4>
            {% if content.type.name == 'events' %}
                <h6 class="content-date">
                    <font color="#ef4e5c">
                        <b> {{ content.datestart }} {% if content.dateend %} - {{content.dateend}} {% endif %} </b>
                    </font>
                {% if content.place %}<br/>{{content.place}}{% endif%}
                </h6>
            {% endif %}
            <p> {{content.formatted_header|safe}} </p>
            <p> {{content.formatted_body|safe}} </p>
            {% include "opt.html" %}
            {% include "links.html" %}
            {% include "gallery.html" with gallery=content.gallery %}
        </div>
    </div>
    {% include "latest_content.html" %}
{% endblock %}
