

{% extends 'base.html' %}

{% block content %}
    {% include "edit.html" with content=events %}

<div class="large-8 medium-8 columns special-column">
    {% if events.image %}
	<img src="{{events.image_url}}">
    {% endif %}
	<div class="index-text">
	<h4><a href="{{ events.get_absolute_url }}/" class="big-title">{{events.title}} </a></h4>
	<p> {{events.formatted_header|safe}} </p>
	<p> {{events.formatted_body|safe}} </p>
    {% include "opt.html" with content=events %}
    {% include "links.html" with content=events %}
    {% include "gallery.html" with gallery=gallery %}
</div>
</div>



	<div class="large-4 medium-4 columns">
        {% include "related.html" with related=events.children.all %}
		<h4 class="sidebar-h4">Events </h4>
		<div class="row">
		
		{% for events in latest_content_list %}
		    
		    <div class="row right-items">
			    <div class="small-6 columns">
			        <a href="{{ events.get_absolute_url }}/"> <img src="{{ events.image_url }}"> </a>
			    </div>
			    <div class="small-6 columns">
			        <a href="{{ events.get_absolute_url }}/" class="sidebar-title"  >{{ events.title }}</a>
                    <h6 class="sidebar-date">
                        <font color="#ef4e5c">
                            <b> {{ events.datestart }} {% if events.dateend %} - {{events.dateend}} {% endif %} </b>
                        </font>
                        {% if events.place %}<br/>{{events.place}}{% endif%}
                    </h6>
			          <p> {{ events.formatted_teaser }} </p>
			    </div>
			</div>
		    

		{% endfor %}
			
				</div>
			</div>		

{% endblock %}
