
{% extends 'base.html' %}

{% block content %}
    {% include "featured.html" %}
	<div class="large-4 medium-4 columns">
        {% if upcoming_events.exists %}
		<h4 class="sidebar-h4"> Upcoming Events </h4>
        {% include "event_preview.html" with events=upcoming_events %}
        {% endif %}
        {% if ongoing_events.exists %}
		<h4 class="sidebar-h4"> Ongoing Events </h4>
        {% include "event_preview.html" with events=ongoing_events %}
        {% endif %}
        {% if past_events.exists %}
		<h4 class="sidebar-h4"> Past Events </h4>
        {% include "event_preview.html" with events=past_events %}
        {% endif %}
        <a href="index/">more</a>
    </div>
</div>
{% endblock %}
