{% for content in featured %}
<div class="large-8 medium-8 columns special-column">
    {% if content.image_url %}
    <a href="{{ content.get_absolute_url }}"><img src="{{ content.image_url }}"> </a>
    {% endif %}
    <div class="index-text">
        <h4><a href="{{ content.get_absolute_url }}" class="big-title">{{content.title}} </a></h4>
        {% if content.datestart %}
        <h6 class="big-date"> <font color="#ef4e5c"> <b> {{ content.datestart }} </b></font>
            {% if content.place %}<br/>{{content.place}}{% endif%}
        </h6>
        {% endif %}
        {% if content.header %}
        <p> {{content.formatted_header}} </p>
        {% else %}
        <p> {{content.formatted_body}} </p>
        {% endif  %}
        <a href="{{ content.get_absolute_url }}">read more</a> </p>
    </div>
</div>
{% endfor %}
