{% if latest_content_list %}
    <div class="large-4 medium-4 columns">
        {% include "related.html" with related=content.children.all %}
        <h4 class="sidebar-h4">{{section}}</h4>
        <div class="row">
            {% for content in latest_content_list %}
                {% include "preview.html" with content=content %}
            {% endfor %}
            {% with section|lower|add:'_list' as section_list %}
            {% if has_more_content %}
            <a href="{% url section_list %}">more</a>
            {% endif %}
            {% endwith %}
        </div>
    </div>
{% else %}
    <p>No content.</p>
{% endif %}
