<div class="row right-items">
    {% if content.type.name == 'news' %}
    <div class= "small-12 columns">
        <h6 class="sidebar-date">
            <font color="#ef4e5c"> <b> {{content.datestart}} </b> 
            {{ content.title }} <br />
            {{ content.formatted_header }}
            </font>
        </h6>
    </div>
    {% else %}
    <div class="small-6 columns">
        {% if content.image_url %}
        <a href="{{ content.get_absolute_url }}"><img src="{{ content.image_url }}"></a>
        {% endif %}
    </div>
    <div class="small-6 columns">
        <a href="{{ content.get_absolute_url }}" class="sidebar-title"> {{content.title}} </a>
        {% if content.type.name == 'events' %}
        <h6 class="sidebar-date">
            <font color="#ef4e5c">
                <b> {{ content.datestart }} {% if content.dateend %} - {{content.dateend}} {% endif %} </b>
            </font>
            {% if content.place %}<br/>{{content.place}}{% endif%}
        </h6>
        {% endif %}
        <p> {{ content.formatted_teaser }} </p>
    </div>
    {% endif %}
</div>
