{% extends 'base.html' %}

{% block content %}
<div class="large-4 medium-4 columns">
		<h4 class="sidebar-h4"> Upcoming Events </h4>
		<div class="row">
		
		    {% for content in content %}
		    <div class="row right-items">
			    <div class="small-6 columns">
			        <img src="http://camputer.org/images/{{ content.image }}">
			    </div>
			    <div class="small-6 columns">
			        <a href="/content/{{ content.shortname }}/" class="sidebar-title">{{ content.title }}</a>
			         <h6 class="sidebar-date"> <font color="#ef4e5c"> <b> {{ content.datestart }} </b></font> <br/>
			          We will add a place to fill this text </h6>
			    </div>
			</div>
		    {% endfor %}
				</div>
			</div>

 {% endblock %}