{% extends 'base.html' %}


{% block content %}

	{% for content in content %}
	{% if forloop.last %}
	<div class="large-8 medium-8 columns special-column">
	<img src="http://camputer.org/images/{{content.image}}">
	<div class="index-text">
	<h4><a href="/{{content.type}}/{{ content.shortname }}/" class="big-title">{{content.title}} </a></h4>
	<p> {{content.header|striptags}} </p>
	</div>
	{% endif %}
	{% endfor %}

	</div>

<div class="large-4 medium-4 columns">
		<h4 class="sidebar-h4"> Ongoing Projects </h4>
		<div class="row">
		
		    {% for content in content %}
		    <div class="row right-items">
			    <div class="small-6 columns">
			        <img src="http://camputer.org/images/{{ content.image }}">
			    </div>
			    <div class="small-6 columns">
			        <a href="/{{content.type}}/{{ content.shortname }}/" class="sidebar-title">{{ content.title }}</a>
			        <p> {{content.header|striptags|truncatechars:100}} </p>
			    </div>
			</div>
		    {% endfor %}
				</div>
			</div>

 {% endblock %}