{% extends 'base.html' %}

{% block content %}
    {% include "edit.html" with content=projects %}
    <div class="large-8 medium-8 columns special-column">
        {% if projects.image %}
        <img src="{{ projects.image_url }}">
        {% endif %}
        <div class="index-text">
            <h4><a href="{{ projects.get_absolute_url }}/" class="big-title">{{projects.title}} </a></h4>
            <p> {{projects.formatted_header|safe}} </p>
            <p> {{projects.formatted_body|safe}} </p>
            {% include "opt.html" with content=projects %}
            {% include "links.html" with content=projects %}
            {% include "gallery.html" with gallery=gallery %}
        </div>
    </div>
    {% include "latest_content.html" with content=texts %}
{% endblock %}
