{% extends 'base.html' %}

{% block content %}
    {% include "edit.html" with content=texts %}
    <div class="large-8 medium-8 columns special-column">
        {% if texts.image %}
        <img src="{{ texts.image_url }}">
        {% endif %}
        <div class="index-text">
            <h4><a href="{{ texts.get_absolute_url }}/" class="big-title">{{texts.title}} </a></h4>
            <p> {{texts.formatted_header|safe}} </p>
            <p> {{texts.formatted_body|safe}} </p>
            {% include "opt.html" with content=texts %}
        </div>
    </div>
    {% include "latest_content.html" with content=texts %}
{% endblock %}
