{% extends 'base.html' %}


{% block content %}

	{% for content in content %}
	{% if forloop.first %}
	<div class="large-8 medium-8 columns special-column">
    {% if content.image %}
	<img src="{{content.image_url }}">
    {% endif %}
	<div class="index-text">
	<h4><a href="{{ content.get_absolute_url }}/" class="big-title">{{content.title}} </a></h4>
	<p> {{content.header|striptags}} </p>
	<p> {{content.body|striptags}} </p>
	</div>
	{% endif %}
	{% endfor %}

	</div>

<div class="large-4 medium-4 columns">
		<h4 class="sidebar-h4"> Texts </h4>
		<div class="row">
		
		    {% for content in content %}
		    <div class="row right-items">
			        <a href="{{ content.get_absolute_url }}" class="sidebar-title">{{ content.title }}</a>
			        <p> {{content.header|striptags|truncatechars:100}} </p>
			</div>
		    {% endfor %}
				</div>
			</div>

 {% endblock %}
