body {
	background-color: #ffffff !important;
	font-size: 14px !important;
}

.content_detail {
	width: 70%;
	padding-left: 5%;
}

.right-items {
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: Open Sans !important;
}


.sidebar-h4 {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1em;
}

.sidebar-title {
	text-transform: capitalize;
	font-weight: 800;
	font-style: italic;
	font-size: 1em;
	color: #000000;
}

.sidebar-date {
	text-transform: uppercase;
	font-size: 0.7em;
}

.special-column {
	padding-left: 0em !important;
}

.index-text {
	padding-left: 3%;
	padding-right: 1%;
	padding-top: 10px;
}

.index-text p {
	text-align: justify;
}

.title-bar-right {
	margin-right: 2em;
	margin-top: 1em;
}

.menu-icon::after{
	background: #111111 none repeat scroll 0 0 !important;
	box-shadow: 0 7px 0 #111111, 0 14px 0 #111111 !important;
}

.vertical-menu li {
	list-style: none;
	padding-top: 2em;
	padding-left: 1em;
	font-weight: 600;
	font-size: 1em;
	color: #ef4e5c;
	background-color: #eeeeee;
}

.off-canvas {
	background-color: #eeeeee !important;
}

.position-right.is-transition-push::after {
	box-shadow: none !important;
}




